* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

h1{
  color: aliceblue;
  margin-left: 20px;
  
}

body{
  background-color: black;
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial,
}

