/* page.module.css */


.navbarlist {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  position: absolute;
  top: 25px;
  right:20px;
  left: 20px;
  font-size: 30px;
  
 }


.navbarlist a {
  margin-left: 20px;
  text-decoration: none;
  color: rgb(200, 255, 0); 
  padding: 15px; 
  font-weight: bold;
}

.navbarlist a:hover {
  color: aqua;
  text-decoration: underline;
}



.header {
  margin-left: 20px; 
  margin-top: 20px;
}

.p1{
  font-family:Verdana,  sans-serif;
  font-size:60px;

  font-style: italic;
  font-weight: bold;
  color: aqua;

}

.p2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px ;
  font-style: normal;
  font-weight: 400;
  color: aliceblue;
}

.ph{
  margin-top: 220px;
  margin-left: 625px;
}